@import url('https://fonts.cdnfonts.com/css/federal-escort');
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #FE2B42;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #FE2B42, #6633EE);
}
body{
    scroll-behavior: smooth;
    background: #000000;
    font-family: 'Montserrat';
    overflow-x: hidden;
}
nav{
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(39, 39, 39, 0.68);
    z-index: 2;
    border-bottom: #fff  1px solid;
}
.bottom-h1{
    margin-left: 40px;
    font-family: 'Federal Escort', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    text-shadow: 0 0 15px #ffffffc1;
}
.main-h1{
    margin-left: 40px;
    font-family: 'Federal Escort', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
}
nav ul{
    color: white;
    display: flex;  
    flex-direction: row;
    list-style: none;
}
nav ul li{
    color: white;
    margin: 0 20px;
    font-weight: 400;
}
nav ul li{
    background-color: rgba(39, 39, 39, 1);
    padding: 5px;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: white;
}
nav ul li:hover{
    background-color: white;
    color: black;
}
nav div{
    background-color: white;
    color : black;
    border-radius: 11.5px;
    font-weight:900;
    margin-right: 40px;
    transition: 0.4s ease-in-out;
}
nav div p{
    padding: 10px;
}
nav div:hover{
    letter-spacing: 0.5px;
    font-size: 18px;
    cursor: pointer;
}
 
#about{
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -47%;
}
#pricing{
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features{
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -16%;
}

/* WE CHANGE TEXT */
#hero {
    width: 100%;
    height: 84vh;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.5s ease;
    animation: grow 2s;
    
}
.changer{
    color: white;
    font-size: 100px;
    padding: 15px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.text{
    color: white;
    border-right: 2px solid white;
    font-size: 100px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: crimson    ;
}
#about p{
    font-size: 26px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    transform: translateX(52.5%) translateY(-165%);
    width: 48%;
    text-align: center;
}
#about p lol{
    color: #FE2B42;
    font-weight: 900;
}

#features p{
    font-size: 46px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-left: 40px;
}
#features p span{
    color: #FE2B42;
    font-family: 'Federal Escort', sans-serif;
    font-size: 59px;
}
p2{
    font-size: 26px;
    color: white;
    font-family: 'Cascadia Code';
    font-weight: 500;
    margin-left: 40px;
}
p2 span{
    color: #6633EE;
    font-weight: 900;
}

.yes{
    color: black;
    -webkit-text-stroke: 4px #FE2B42;
    animation: change 4s infinite;
    filter: blur(15px);
}
@keyframes change{
    0%{
        -webkit-text-stroke: #6633EE 4px;
    }
    50%{
        -webkit-text-stroke: #FE2B42 4px;
    }
    100%{
        -webkit-text-stroke: #6633EE 4px; 
    }
}